@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

:root {
    --light-font: #f1ffff;
    --dark-font: #00000f;

    --background-light: #ffffff;
    --background-dark: #000000;

    --background-light-alt: #f9f9f9;
    --background-dark-alt: #090909;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

ul {
    list-style-type: none;
    list-style-position: inside;
}

a {
    text-decoration: none;
}

small {
    font-size: 9px;
    color: grey;
}

/* ===== ERRORS ===== */
.error-box {
    color: red;
    background-color: rgb(250, 220, 220);
    border: 1px solid red;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0px;
}

.error-box > * {
    margin: 0;
}

/* ===== HEADER ===== */

header ul, 
header li {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

#title-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3f3f3f;
}

#title-bar * {
    color: var(--light-font);
}

#title-bar nav {
    display: inherit;
}

#title-bar li {
    display: inline;
    margin: 0 20px;
}

/* ===== BODY =====  */
.container {
    margin-top: 100px;
}

/* ===== POSTS ===== */
.post-container {
    background-color: var(--background-light-alt);
    padding: 20px;
    margin: 20px 0 !important;
}

.post-container h3 {
    font-weight: bold;
    border-bottom: 1px solid grey;
    margin-bottom: 0;
}

p.post-body {
    font-size: 15px;
}

nav.actions {
    background-color: var(--background-light-alt);
    margin: 20px 0;
    padding: 10px;
}

nav.actions li {
    display: inline;
}

nav.actions ul {
    padding: 0;
    margin: 0;
}

/* ===== OTHER BLOGS ===== */
.blogs-list li{
    background-color: var(--background-light-alt);
    margin: 20px 0;
    padding: 10px;
}